html {
    height: 100%;
}

body {
    height: 100%;
    font-family: Arial, serif;
}
/*-------------------------Navigace-----------------------------------------------*/
.navigace {
    text-align: center;
    background-color: #363636;
    position: fixed;
    left: 0;
    width: 300px;
    height: 100%;
    color: white;
}

.nadpis {
    font-weight: bold;
    font-size: 40px;
    margin-top: 50px;
}

.nav-container {
    position: fixed;
    left:70px;
    top: 30%;
}

li{
    margin: 20px
}

p{
    font-size: 20px;
}

#ac {
    font-weight: bold;
}

a{
    color: white;
    text-decoration: none;
    transition: 500ms;
}
a:hover{
    color: #a1a1a1;
}
.c{
    position: fixed;
    bottom: 1%;
    text-align: center;
    margin-left: 70px;
}
/*-------------------------Obsah stránky-----------------------------------------------*/
.obsah{
    margin-left: 300px;
}

.nadpisStranky {
    font-size: 50px;
    text-align: center;
    padding-top: 50px;
    font-weight: bold;
}